<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<%- include("navbar", { genres: genres, displayGenre: displayGenre }) %>
		<div class="main">
			<div class="pop-movie-list">
				<% movies.forEach(function(movie) { %>
					<%- include("poster", {movie: movie, to: to, btnMsg : btnMsg}) %>
				<% }); %>
			</div>
		</div>

		<script src="/script.js"></script>
	</body>
</html>


