<div class="poster" id="<%= movie.id %>">
	<div class="poster-img">
		<img src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>" alt="">
	</div>
	<div class="poster-title">
		<p><%= movie.title %></p>
	</div>
</div>
