@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

.inconsolata-400 {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-700 {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-900 {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  @apply bg-gradient-to-br from-[#26233a] to-[#191724] text-[#e0def4];
}

.main {
  @apply container mx-auto;
}

.pop-movie-list {
  @apply grid grid-cols-5 gap-5;
}

.poster {
  @apply px-4 py-2 bg-[#2a283e] text-[#e0def4] rounded-xl cursor-pointer
  shadow-lg hover:shadow-xl transition-transform ease-in-out duration-300 relative;
}

.overlay {
  @apply flex flex-col absolute top-0 left-0 w-full h-full bg-gradient-to-b
  from-[#eb6f92]/70 to-[#9ccfd8]/70 opacity-0 transition-opacity ease-in-out duration-300
  justify-center items-center hover:opacity-100 rounded-xl text-[#e0def4];

  form {
    @apply mx-auto;
  }
}

.btn {
  @apply flex justify-center items-center px-4 py-2 font-bold text-lg text-[#e0def4]
  bg-[#f6c177] hover:bg-[#eb6f92] mx-auto rounded-lg shadow-md transition-all duration-300 ease-in-out;
}

.poster-img {
  @apply w-full;

  img {
    @apply object-contain rounded-xl;
  }
}

.poster-title {
  @apply text-nowrap text-ellipsis overflow-hidden text-center text-lg pt-2
  inconsolata-400;
}

.navbar {
  @apply container mx-auto flex justify-between py-4;
}

.nav-element {
  @apply px-4 py-2 border-2 text-center my-auto rounded-lg border-[#403d52]
  transition ease-in-out duration-300 font-bold tracking-wide cursor-pointer
  text-[#e0def4] bg-[#2a283e]
  hover:bg-[#f6c177] hover:text-[#191724] hover:border-[#f6c177];
}

.right-nav {
  @apply flex gap-4;
}

.dropdown {
  @apply relative;
}

.dropdown-content {
  @apply absolute z-10 bg-white p-4;
}
